:root{
    --backgroud-color: #556270 ;
    --background-second-color: hsla(0, 0%, 89%, 1);
    --background-second-color-contrast: hsla(0, 0%, 85%, 1);
    --first-color: #00A9C7;
    --first-color-contrast: rgb(4, 144, 168);
    --second-color: #FFC107;
    
    --third-color: #FF6B6B;
    --text-title-color: hsla(0,70%,100%,1);
    --error-color: hsla(10,99%,53%,1);

    --active-user: #47DB30;
}

*, *::before,*::after{
    /* Que los objetos calculen su tamaño por el borde */
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

body{
    /* background-color : var(--backgroud-color); */
    background-color :  var(--backgroud-color);
}

.main-header{
    background-color: var(--first-color);
}

.title{
    color: var(--text-title-color);
    font-size: 2em;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    overflow: auto;
}

.subtitle{
    font-size: 1.5em;
}

.main-center{
    /* width: 1em;
    height: 1em; */
    border-radius: 5px;
    background-color: var(--first-color);
    text-align: center;
}

.button{
    border-radius: 6px;
    margin-left: 0.4em;
    width: 100px;
    height: 40px;
    background-color: var(--first-color);
}

.error-message{
    display: none;
    width: 35%;
    height: 2em;
    border-radius: 2px;
    text-align: center;
    padding-top: 0.3em;
    margin-left:  30%; 
    background-color: rgb(244, 67, 54);;
    color: var(--text-title-color);
}

.button:hover{
    background-color: var(--first-color-contrast);
}

.card-conteiner-short{
    width: 60%;
    height: 6em;
    background-color: var(--background-second-color);
    border-radius: 10px;
}

.card-conteiner-big{
    width: 70%;
    height: 80%;
    background-color: var(--background-second-color);
    border-radius: 10px;
}

.card-column{
    /* float: right; */
    width: 20%;
    height: 1em;
   /*  border-left: 2px solid var(--third-color); */
   /*  border-bottom: 2px solid var(--third-color); */
    margin-top: 0;
    /* margin-left: 80%; */
    background-color: var(--background-second-color-contrast);
    position: relative;  
    border-top-right-radius: 10px;
}

.card-head{
    width: 100%;
    height: 4em;
    background-color: var(--second-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
}

.card-head-chat{
    width: 80%;
    border-top-right-radius: 0;
}

.card-header-column{
    width: 100%;
    background-color: var(--third-color);
    border-top-right-radius : 10px;
    border-top-left-radius : 0;
}

.card-content{
    margin-top: 20px;

    background-color: var(--background-second-color );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border-top-left-radius: 10px;

    width: 100%;
    height: 100%;
}

.card-content-chat{
    float: right;
    width: 80%;
    height: 70%;
    margin-top: 0;
    padding-left: 4em; 
}

.card-content-footer{
    background-color: var(--background-second-color-contrast);
    border-bottom-left-radius: 10px;

    width: 80%;
    height: 30%;
    
    margin-top: 0;
}

.input-text{
    display: block;
    height: 30px;
    width: 30%;
    margin-left: 30%;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    border:1px solid #ccc;
    font-size: 20px;
}

.input-text-message{
    font-size: 1.2em;
    margin-left: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    height: 70%;
    width: 70%;
}

.invisible{
    display: none;
}

.error{
    color: var(--third-color);
}

.whisper{
    color: gray;
    font-style: italic;
}

.user{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* margin-bottom: 0.2em; */
    /* padding-left: 1em; */
    position: relative;
}

.actualUser{
    color: var(--active-user);
}

.chat-message{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.user-nick{
    font-weight: bold;
}

.button-message{
    height: 2.3em;
    width: 2.3em;
    background-color: var(--first-color);
    margin-top: 0.3em;
    border-radius: 50%;
}

.button-arrow{
    height: 1.4em;
    width: 1.4em;
    
    color: white;
    
    position: relative;
    bottom: 2px;
    right: 3px;
}

.button-message:hover{
    background-color: var(--first-color-contrast);
}